<div id="mydata">
<form [formGroup]="myFormDetails" (ngSubmit)="addUser(myFormDetails)">
      <label>Email</label>
      <input type="email" class="form-control" formControlName="email" placeholder="yrlavanya405@gmail.com" id="email">
      <div class="alert alert-danger" *ngIf="!email.valid && email.touched"> 
          <span *ngIf="email.hasError('required')"> Email is important  </span>
          </div>
      <br>
      <label>Address</label>
      <input type="text" class="form-control" formControlName="address">
      <div class="alert alert-danger" *ngIf="!address.valid && address.touched"> 
        <span *ngIf="address.hasError('required')"> Address is important  </span>
        </div>
      <br>
      <label>firstName</label>
      <input  type="text" class="form-control" formControlName="firstName" >
      <div class="alert alert-danger" *ngIf="!firstName.valid && firstName.touched"> 
        <span *ngIf="firstName.hasError('required')">FirstName is important  </span>
        </div>
      <br>
      <label>lastName</label>
      <input  type="text" class="form-control"  formControlName="lastName" >
      <div class="alert alert-danger" *ngIf="!lastName.valid && lastName.touched"> 
        <span *ngIf="lastName.hasError('required')"> LastName is important</span>
        </div>
      <br>
      <label>Hobbies</label>
      <input  type="text" class="form-control" formControlName="Hobbies">
      <div class="alert alert-danger" *ngIf="Hobbies.valid && Hobbies.touched"> 
        <span *ngIf="Hobbies.hasError('required')">Hobbies is important  </span>
        </div>
      <br> 

      <button class="btn btn-success" (click)="export()">Login</button>
    </form>
    <br><br>
    <br>
</div>
<div class="user">
    <font color="peru" size="4" width="300px">This Data is taken from DataBase(CSV file)
    </font>
    <p>values are printed in console</p>
    <p *ngFor="let user of users">{{user.email}}</p>
    <br>
      <p><font color="cyan" size="3">please follow this email id:yrlavanya405@gmail.com for filling details</font>
      </div>
    
